html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

.vidContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
}

.switchIntroVid {
    width: 100%;
    height: 100%;
}

.mainContainer {
    width: 100%;
    height: 100%;
}

.close {
    position: absolute;
    color: #fff;
    top: 50px;
    right: 50px;
    font-size: 1.7em;
    cursor: pointer;
    z-index: 999;
    transform: rotate(0deg);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.close:hover {
    font-size: 2.4em;
    transform: rotate(360deg);
}

.account {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1000px;
    width: 0;
    height: 0;
    background: #ff4554;
    transition: all .4s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account span {
    color: #ff4554;
    font-size: 3em;
    cursor: pointer;
}

.account .inputContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.account .input {
    width: 350px;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 3px solid #eee;
    color: #eee;
    font-size: 1.3em;
}

.account .input::placeholder {
    color: #eee;
}

.inputContainer button {
    border-color: #eee;
    border-style: solid;
    background-color: transparent;
    color: #eee;
    font-size: 25px;
    margin-left: 30px;
    padding: 7px 13px;
    cursor: pointer;
    border-radius: 0px;
}

.inputContainer button:hover {
    background-color: #eee;
    color: #ff4554;
}

.account.open {
    height: 4000px;
    width: 4000px;
}

.formContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #ff4554;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: sans-serif;
}

.formContainer .inputBox {
    position: relative;
}

.formContainer .inputBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #eee;
    outline: none;
    background: transparent;
}

.formContainer .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #eee;
    pointer-events: none;
    transition: .5s;
}

.formContainer .inputBox input:focus~label,
.formContainer .inputBox input:valid~label {
    top: -20px;
    left: 0;
    color: #eee;
    font-size: 12px;
}

.formContainer button {
    position: relative;
    margin-top: 30px;
    padding: 7px 13px;
    border-color: #eee;
    border-style: solid;
    font-size: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    border-radius: 0px;
    color: #eee;
    cursor: pointer;
}

.formContainer button:hover {
    background-color: #eee;
    color: #ff4554;
}